<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Todo App</title>
</head>
<style>
    body{
        background-color: antiquewhite;
        text-align: center;
    }
</style>
<body>
    <h2>Todo Edit</h2>
    
    <p>{{.user.ID}}</p>
    <p>{{.user.Name}}</p>
    <p>{{.user.Age}}</p>
    
    <form method="post" action="/update/{{.todo.ID}}">
        <p>内容<input type="text" name="text" size="30" value="{{.todo.Text}}" ></p>
        <p>状態
            <select name="status">
                {{if eq .todo.Status "未実行"}}
                    <option value="未実行" selected>未実行</option>
                    <option value="実行中">実行中</option>
                    <option value="終了">終了</option>
                {{else if eq .todo.Status "実行中"}}
                    <option value="未実行">未実行</option>
                    <option value="実行中" selected>実行中</option>
                    <option value="終了">終了</option>
                {{else}}
                    <option value="未実行">未実行</option>
                    <option value="実行中">実行中</option>
                    <option value="終了" selected>終了</option>
                {{end}}
            </select>
        </p>
        <p><input type="submit" value="更新"></p>
    </form>
    <p><a href="/"><button class="btn btn-primary">戻る</button></a></p>
</body>
</html>
